*, *::before, *::after {
    box-sizing: border-box;
}

// ::-webkit-scrollbar {
//     width: 0px;
//     height: 0px;
// }

p {
    margin: 4rem 15rem;
}

.tooltip {
    position: absolute;
    width: max-content;
    top: 0;
    left: 0;
    background-color: grey;
    padding: 1ex 1em;
    border-radius: 2px;
}


.arrow {
    position: absolute;
    aspect-ratio: 1;
}

.arrow-style {
    position: relative;
    // top: 0;
    // left: 0;
    width: 36.29px;
    height: 10px;
    background: linear-gradient(to bottom, black, white);
}

.diamond-arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    display: inline-grid;
    place-items: center;

    .diamond {
        position: relative;
        // transform: rotate(45deg);
        // width: 12px;
        width: 6px;
        height: 12px;
        background-color: black;
    }
}

.padding-elem {
    height: 20rem;
    background-color: aliceblue;
}

.scrolling {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    overflow: auto;
    margin-inline: auto;
}